<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*]DuncanLaud.WebUI.Program,[*]DuncanLaud.WebUI.Startup,[*]DuncanLaud.Infrastructure.Data.AppDbContextFactory,[*]DuncanLaud.Analytics.AnalyticsDbContextFactory,[*]DuncanLaud.Infrastructure.Data.Migrations.*,[*]DuncanLaud.Infrastructure.Migrations.*,[*]DuncanLaud.Infrastructure.Analytics.Migrations.*,[*]DuncanLaud.DTOs.CreatePersonRequest</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverage</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
