<div class="content-body">
    <div>
        <div class="row">
            <div class="col-md-12">
                <h1>{{artistName}}</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-2">
                <img loading="lazy" ng-src="{{artistImageUrl}}" height="200" width="132" />
            </div>
            <div class="bio-text col-md-8 col-lg-10">
                <p>{{aritistBio}}</p>
            </div>
            <div class="bio-email col-md-8 col-lg-10">
                <h4>Contact Information</h4>
                Email: <a href="mailto:{{emailAddress}}">{{emailAddress}}</a>
            </div>
        </div>
    </div>
</div>
