<div class="content-body" ng-if="results.length > 0">

    <div ng-repeat="result in results track by $id">

        <div class="row">
            <div class="col-md-12">
                <h1>{{result.Name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img loading="lazy" class="tips" ng-src="{{result.BookImageURL}}" style='height: 100%; width: 100%; object-fit: contain' />
            </div>
            <div class="col-sm-12 col-md-4" ng-if="result.BookImageURL2 !== ''">
                <img loading="lazy" class="tips" ng-src="{{result.BookImageURL2}}" style='height: 100%; width: 100%; object-fit: contain' />
            </div>
            <div class="book-summary row" ng-if="result.ISBN10 > 0">
                <div class="col-sm-12">
                    <h2 ng-bind="result.DescriptionHeading"></h2>
                    <p ng-bind-html="result.DescriptionHtmlBody"></p>
                </div>
            </div>
            <div class="book-details col-sm-12 col-md-8">
                <div ng-if="result.ISBN10 > 0">
                    <div>
                        <span>Author:</span>
                        <span>{{result.Author}}</span>
                    </div>
                   
                    <div>
                        <span>Published:</span>
                        <span>{{result.publishDate | date: 'MMMM yyyy'}}</span>
                    </div>
                    <div>
                        <span>Suggested Retail Price:</span>
                        <span ng-repeat="x in result.SuggestedRetailPriceUSD">
                            <span>{{x}}</span>
                            <span>$</span>
                            <span>{{$last ? '' : ', '}}</span>
                        </span>
                    </div>
                    <div>
                        <a ng-href="{{result.PurchaseURL}}">
                            <img loading="lazy" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" alt="PayPal - The safer, easier way to pay online!"
                                 width="171" height="47" border="0" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-if="results.length == 0">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>Book not found!</h1>
            </div>
        </div>        
    </div>
</div>